@{
    ViewBag.Title = "Change_Data";
    Layout = "~/Views/Shared/top.cshtml";
}
<script src="~/Scripts/laydate.js"></script>
<script src="~/Scripts/MyScripts/ImageFun.js"></script>
<script type="text/javascript">
    //******************上传全身照的js代码********************
    //图片上传预览    IE是用了滤镜。
    function previewImage(file, id) {
        var MAXWIDTH = 250;
        var MAXHEIGHT = 350;
        var div = document.getElementById("preview");
        if (file.files && file.files[0]) {
            div.innerHTML = '<img id="imghead" style="height:350px;width:250px;border-radius:20px;" >';
            var img = document.getElementById("imghead");
            img.style.borderRadius = "20px";
            img.onload = function () {
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, 250, 350);
                img.width = rect.width;
                img.height = rect.height;
                //                 img.style.marginLeft = rect.left+'px';
            }
            var reader = new FileReader();
            reader.onload = function (evt) { img.src = evt.target.result; }
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id="imghead">';
            var img = document.getElementById("imghead");
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status = ('rect:' + rect.top + ',' + rect.left + ',' + rect.width + ',' + rect.height);
            div.innerHTML = "<div id=divhead style='width:" + rect.width + "px;height:" + rect.height + "px;margin-top:" + rect.top + "px;" + sFilter + src + "\"'></div>";
        }
    }
    function clacImgZoomParam(maxWidth, maxHeight, width, height) {
        var param = { top: 0, left: 0, width: width, height: height };
        if (width > maxWidth || height > maxHeight) {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if (rateWidth > rateHeight) {
                param.width = maxWidth;
                param.height = Math.round(height / rateWidth);
            } else {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
</script>
<style type="text/css">
    /*************所有选择下拉框的样式CSS*************************/

    #skin_Choose ul, #Job_Choose ul, #edu_bg_Choose ul, #height_Choose ul, #weight_Choose ul, #chest_Choose ul, #Waist_Choose ul, #hipline_Choose ul, #ThighGirth_Choose ul, #CalfGirth_Choose ul, #LegLength_Choose ul, #ArmGirth_Choose ul {
        margin: 0;
        padding: 0;
        width: 170px;
        height: 100px;
        overflow: auto;
        border: 1px solid #a9a9a9;
        position: absolute;
        display: none;
        background: white;
    }

        #skin_Choose ul li, #Job_Choose ul li, #edu_bg_Choose ul li, #height_Choose ul li, #weight_Choose ul li, #chest_Choose ul li, #Waist_Choose ul li, #hipline_Choose ul li, #ThighGirth_Choose ul li, #CalfGirth_Choose ul li, #LegLength_Choose ul li, #ArmGirth_Choose ul li {
            height: 20px;
            line-height: 20px;
            cursor: pointer;
        }

            #skin_Choose ul li:hover, #Job_Choose ul li:hover, #edu_bg_Choose ul li:hover, #height_Choose ul li:hover, #weight_Choose ul li:hover, #chest_Choose ul li:hover, #Waist_Choose ul li:hover, #hipline_Choose ul li:hover, #ThighGirth_Choose ul li:hover, #CalfGirth_Choose ul li:hover, #LegLength_Choose ul li:hover, #ArmGirth_Choose ul li:hover {
                background: #c6dbfc;
                color: #369;
            }

    ol, ul {
        list-style: none;
    }
</style>
<style>
    .baocun {
        float: left;
        margin-top: 15px;
        margin-left: 20px;
        color: gray;
        cursor: pointer;
    }

        .baocun:hover {
            text-decoration: underline;
        }

    .save_zl {
        margin-top: 20px;
        margin-left: 45%;
        width: 60px;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 1.3em;
        color: #FFFFFF;
        background-color: #ef4242;
        border-radius: 3px;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 0px 0px 5px #B0B0B0;
        border: 0px #fff solid;
    }

        .save_zl:hover {
            background-color: #ea1f1f;
        }
</style>
<link href="~/Content/Peaple_upload_tx.css" rel="stylesheet" />
<script>
    
    function Save_Change() {      //点击保存弹出保存成功窗口
      
            alert('保存成功！')
        
    }
    function tz_zhuye() {
        window.location.href = "Index";   //点击页面下方保存按钮后，跳转到个人主页
    }
</script>
<script src="~/Scripts/upload_tx_js/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/upload_tx_js/cropbox.js"></script>    <!--******一定要放在所有引用的js文件的后面！！！！！！**********-->
<script type="text/javascript">
    //*****************上传头像的js代码*****************
    $(window).load(function () {
        var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: '../Images/UserPicture/111.png'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function () {
            var img = cropper.getDataURL();
            $('.cropped').html('');
            $('.cropped').append('<img src="' + img + '" id="imgSmall" align="absmiddle" style="width:20px;margin-top:15px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>20px*20px</p>');
            $('.cropped').append('<img src="' + img + '" id="imgMiddle"  align="absmiddle" style="width:40px;margin-top:12px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>40px*40px</p>');
            $('.cropped').append('<img src="' + img + '" id="imgBig"  align="absmiddle" style="width:120px;margin-top:12px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>120px*120px</p>');
        })
        $('#btnZoomIn').on('click', function () {
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function () {
            cropper.zoomOut();
        })
    });
</script>

<script>
    //**********验证名字是否为2-4个中文字******
    function test_name(x) {
        var y = document.getElementById(x).value;
        reg = /^[\u4E00-\u9FA5]{2,4}$/;
        if (reg.test(y) || y.length <= 0) {

        }
        else {
            alert("请输入真实名字！");
        }
    }

    //*********手机号码验证***********************
    function phone_num_test(x) {
        var num = document.getElementById(x).value;
        var reg = /^0?1[3|4|5|8][0-9]\d{8}$/;
        if (reg.test(num) || num.length <= 0) {

        } else {
            alert("号码有误~");
        };
    }
</script>
<script type="text/javascript">
    //**********肤色选择下拉列表的jQuery*********
    $(function () {
        $("#skin_Choose input").click(function () {
            var ul = $("#skin_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#skin_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#skin_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#skin_Choose ul").hide();
        });

    });
    //**********职业选择下拉列表的jQuery*********
    $(function () {
        $("#Job_Choose input").click(function () {
            var ul = $("#Job_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#Job_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#Job_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#Job_Choose ul").hide();
        });

    });
    //**********学历选择下拉列表的jQuery*********
    $(function () {
        $("#edu_bg_Choose input").click(function () {
            var ul = $("#edu_bg_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#edu_bg_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#edu_bg_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#edu_bg_Choose ul").hide();
        });

    });
    //**********身高选择下拉列表的jQuery*********
    $(function () {
        $("#height_Choose input").click(function () {
            var ul = $("#height_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#height_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#height_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#height_Choose ul").hide();
        });

    });
    //**********体重选择下拉列表的jQuery*********
    $(function () {
        $("#weight_Choose input").click(function () {
            var ul = $("#weight_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#weight_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#weight_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#weight_Choose ul").hide();
        });

    });
    //**********胸围选择下拉列表的jQuery*********
    $(function () {
        $("#chest_Choose input").click(function () {
            var ul = $("#chest_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#chest_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#chest_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#chest_Choose ul").hide();
        });

    });
    //**********腰围选择下拉列表的jQuery*********
    $(function () {
        $("#Waist_Choose input").click(function () {
            var ul = $("#Waist_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#Waist_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#Waist_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#Waist_Choose ul").hide();
        });

    });
    //**********臀围选择下拉列表的jQuery*********
    $(function () {
        $("#hipline_Choose input").click(function () {
            var ul = $("#hipline_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#hipline_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#hipline_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#hipline_Choose ul").hide();
        });

    });
    //**********大腿围选择下拉列表的jQuery*********
    $(function () {
        $("#ThighGirth_Choose input").click(function () {
            var ul = $("#ThighGirth_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#ThighGirth_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#ThighGirth_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#ThighGirth_Choose ul").hide();
        });

    });
    //**********小腿围选择下拉列表的jQuery*********
    $(function () {
        $("#CalfGirth_Choose input").click(function () {
            var ul = $("#CalfGirth_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#CalfGirth_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#CalfGirth_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#CalfGirth_Choose ul").hide();
        });

    });

    //**********腿长选择下拉列表的jQuery*********
    $(function () {
        $("#LegLength_Choose input").click(function () {
            var ul = $("#LegLength_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#LegLength_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#LegLength_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#LegLength_Choose ul").hide();
        });

    });


    //**********腿长选择下拉列表的jQuery*********
    $(function () {
        $("#ArmGirth_Choose input").click(function () {
            var ul = $("#ArmGirth_Choose ul");
            if (ul.css("display") == "none") {
                ul.slideDown("fast");
            } else {
                ul.slideUp("fast");
            }
        });
        $("#ArmGirth_Choose ul li").click(function () {
            var txt = $(this).text();
            $("#ArmGirth_Choose input").val(txt);
            var value = $(this).attr("rel");
            $("#ArmGirth_Choose ul").hide();
        });

    });
</script>
<script type="text/javascript">

   

    
    function Save_Change_TouXiang()
    {
        var imgTouXiang = document.getElementById("imgBig");
        var imgTouXiangBase64 = getBase64Image(imgTouXiang);//将头像转化为base64数据
        $.ajax({
            url: "UploadTouXiang",
            data: { data1: imgTouXiangBase64 },
            type:"post",
            success: function (data) {
                alert(data);
            }
        });   
    }

    function Save_Change_QuanShenZhao()
    {
        
        var imgQuanShen = document.getElementById("imghead");
        
        var imgQuanShenBase64 = getBase64Image(imgQuanShen);
        alert();
        $.ajax({
            url: "UploadQuanShenZhao",
            data: { data1: imgQuanShenBase64 },
            type: "post",
            success: function (data) {
                alert(data);
            }
        });

    }
</script>
<div id="change_data_tab" class="tab_bar">
    <h2 class="tab_ing">修改资料</h2>
</div>
<div style="width: 100%; margin-bottom:80px; float: left;">
    <table cellspacing="10" style="float:left;">
        <caption style="float:left;font-size:1.5em;">头像修改</caption>
        <tr>
            <td>
                <div class="container">
                    <div style="float:left;width:250px;">
                        <div class="imageBox">
                            <div class="thumbBox"></div>
                            <div class="spinner" style="display: none">Loading...</div>
                        </div>
                        <div class="action">
                            <!-- <input type="file" id="file" style=" width: 200px">-->
                            <div class="new-contentarea tc">
                                <a href="javascript:void(0)" class="upload-img">
                                    <label for="upload-file">上传图像</label>
                                </a>
                                <input type="file" class="" name="upload-file" id="upload-file" />
                            </div>
                            <input type="button" id="btnCrop" class="Btnsty_peyton" value="裁切">
                            <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+">
                            <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
                        </div>
                    </div>
                    <div class="cropped"></div>
                </div>
            </td>
        </tr>

    </table>
    <div class="baocun" id="baoCunTouXiang" onclick="Save_Change_TouXiang()">保存</div>
</div>
<div style="width: 100%; margin-bottom: 80px; float: left;">
    <form action="UpdateInformation" method="post">
        <table cellspacing="10" style="float:left;">
            <caption style="float:left;font-size:1.5em;">个人信息</caption>
            <tr><td>真实姓名：</td><td><input type="text" id="Real_name" name="realName" onblur="test_name(this.id)" /></td></tr>
            <tr>
                <td>出生年月：</td>
                <td>
                    <input class="laydate-icon" id="demo" name="BirthDate">
                    <script type="text/javascript">
                        !function () {
                            laydate.skin('default');//切换皮肤，请查看skins下面皮肤库
                            laydate({ elem: '#demo' });//绑定元素
                        }();
                    </script>

                </td>
            </tr>
            <tr>
                <td>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</td>
                <td>
                    <div id="Job_Choose">
                        <input type="text" name="Profession" />
                        <ul style="display:none;">
                            <li>教师</li>
                            <li>学生</li>
                            <li>白领</li>
                            <li>家庭主妇</li>
                            <li>其他</li>
                        </ul>
                    </div>
                </td>

            </tr>
            <tr><td>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</td><td><input type="text" id="phone_num" onblur="phone_num_test(this.id)" name="PhoneNumber" /></td></tr>
            <tr>
                <td>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</td>
                <td>
                    <div id="edu_bg_Choose">
                        <input type="text" name="EducationalBackground" />
                        <ul>
                            <li>小学以下</li>
                            <li>小学</li>
                            <li>初中</li>
                            <li>中专</li>
                            <li>高中</li>
                            <li>大专</li>
                            <li>本科</li>
                            <li>硕士</li>
                            <li>博士</li>
                            <li>博士后</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr><td>爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好：</td><td><input type="text" name="Interest" /></td></tr>
        </table>
        <input type="submit" class="baocun" name="" value=" 保存" onclick="Save_Change()" />

        <a name="sttz"></a>
    </form>
</div>

<div style="width: 100%; margin-bottom: 80px; float: left;">
    <form action="UpdateBodyData" method="post">
        <table cellspacing="10" style="float:left;">
            <caption style="float:left;font-size:1.5em;">体型特征</caption>
            <tr>
                <td>肤&nbsp;&nbsp;&nbsp;&nbsp;色：</td>
                <td>
                    <div id="skin_Choose">
                        <input type="text" name="SkinColor" />
                        <ul>
                            <li>白皙</li>
                            <li>粉嫩</li>
                            <li>偏黑</li>
                            <li>偏黄</li>
                            <li>黝黑</li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>身&nbsp;&nbsp;&nbsp;&nbsp;高：</td>
                <td>
                    <div id="height_Choose">
                        <input type="text" name="Height" />
                        <ul>
                            @for (int i = 50; i < 240; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>体&nbsp;&nbsp;&nbsp;&nbsp;重：</td>
                <td>
                    <div id="weight_Choose">
                        <input type="text" name="Weight" />
                        <ul>
                            @for (int i = 20; i < 200; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>胸&nbsp;&nbsp;&nbsp;&nbsp;围：</td>
                <td>
                    <div id="chest_Choose">
                        <input type="text" name="XiongWei" />
                        <ul>
                            @for (int i = 50; i < 120; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>腰&nbsp;&nbsp;&nbsp;&nbsp;围：</td>
                <td>
                    <div id="Waist_Choose">
                        <input type="text" name="YaoWei" />
                        <ul>
                            @for (int i = 50; i < 120; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>臀&nbsp;&nbsp;&nbsp;&nbsp;围：</td>
                <td>
                    <div id="hipline_Choose">
                        <input type="text" name="TunWei" />
                        <ul>
                            @for (int i = 50; i < 120; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>臂&nbsp;&nbsp;&nbsp;&nbsp;围：</td>
                <td>
                    <div id="ArmGirth_Choose">
                        <input type="text" name="ArmGirth" />
                        <ul>
                            @for (int i = 20; i < 80; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
           
            <tr>
                <td>腿&nbsp;&nbsp;&nbsp;&nbsp;长：</td>
                <td>
                    <div id="LegLength_Choose">
                        <input type="text" name="LegLength" />
                        <ul>
                            @for (int i = 20; i < 80; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>大腿围：</td>
                <td>
                    <div id="ThighGirth_Choose">
                        <input type="text" name="ThighGirth" />
                        <ul>
                            @for (int i = 20; i < 80; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
            <tr>
                <td>小腿围：</td>
                <td>
                    <div id="CalfGirth_Choose">
                        <input type="text" name="CalfGirth" />
                        <ul>
                            @for (int i = 20; i < 80; i++)
                            {
                                <li>@i </li>
                            }
                        </ul>
                    </div>
                </td>
                <td>cm</td>
            </tr>
        </table>
        <input type="submit" class="baocun" name="" value=" 保存" onclick="Save_Change()" />
    </form>

</div>
<div style="width: 100%; margin-bottom: 50px; float: left;">
    <table cellspacing="10" style="float:left;">
        <caption style="float:left;font-size:1.5em;">全身照</caption>
        <tr>
            <td>
                <div id="preview" style="height:350px;width:250px;border-radius:20px;border:1px solid black;"></div>
                
                <input type="file" onchange="previewImage(this)" style="margin-top:20px;" />
            </td>
        </tr>
    </table>
    <div class="baocun" id="baoCunQuanShenZhao" onclick="Save_Change_QuanShenZhao()">保存</div>

</div>
<hr />
<button class="save_zl" onclick="Save_Change(),tz_zhuye()">保存</button>
