@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-2.0.0.js"></script>
    <script type="text/javascript">
    </script>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-image: url('../../Images/people-register-bg.png');
            background-repeat:no-repeat;
            background-color:#222222;
            text-align:center;
        }
        #content{
            width:800px;
            height:360px;
            margin-top:50px;
            margin-left:auto;
            margin-right:auto;
        }
        #back{
            width:auto;
            height:auto;
            float:left;
            font-family:'Microsoft YaHei';
            color:white;
            font-size:30px;
            line-height:360px;
        }
        #visitor {
            width: auto;
            height: auto;
            float: right;
            font-family: 'Microsoft YaHei';
            color: white;
            font-size: 30px;
            line-height: 360px;
        }
        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
            color: #e3e3e3;
            font-family:'Microsoft YaHei';
            font-size:24px;
        }
        input:-moz-placeholder, textarea:-moz-placeholder {
            color: #e3e3e3;
            font-family:'Microsoft YaHei';
            font-size:24px;
        }
        input::-moz-placeholder, textarea::-moz-placeholder {
            color: #e3e3e3;
            font-family:'Microsoft YaHei';
            font-size:24px;
        }
        input:-ms-input-placeholder, textarea:-ms-input-placeholder {
            color: #e3e3e3;
            font-family:'Microsoft YaHei';
            font-size:24px;
        }
          .ui-input{
              padding-left:15px;
              width:256px;
              height:50px;
              margin-top:40px;
              border-radius: 10px; 
              line-height:50px;
              margin-left:15px;
              color: #fff;
              font-family:'Microsoft YaHei';
              font-size:24px;
              border:  none;
              background:rgba(255, 255, 255, 0.54);
          }
          .ui-button{
              width:270px;
              height:60px;
              margin-top:50px;
              margin-left:15px;
              border-radius: 10px; 
              line-height:50px;
              color: #fff;
              font-family:'Microsoft YaHei';
              font-size:24px;
              border:  none;
              background:rgba(255, 0, 255, 0.54) ;
          }
          .ui-button:hover{
              background:rgba(255, 0, 255, .8) ;
         }
          .ui-button:focus{
              background:#ff00ff;
          }
        .error{
            background-color:rgba(7, 6, 6, 0.60);
            color:red;
            font-size:24px;
            width:auto;
            border:red 1px solid;
            display:none ;
        }



       


    </style>    
    <script type="text/javascript">
        $(document).ready(function () {
            mouseTuBiaoEffect();//实现鼠标经过时的效果
            dealIsFromRegister();//处理是否为用户通过注册跳转进来的
        });


        //本函数实现判断用户是否是通过注册登录进来的，如果是则显示“注册成功，请开始登录”
        function dealIsFromRegister() {
            var finshRegister = '@ViewData["finshRegister"]';//获取后端传回来的值，该值为代表是用户通过注册跳转到该页面的，为0则相反
            if (finshRegister == 1) {
                document.getElementById("firstRegister").style.display = "block";
            }
            else {
                document.getElementById("firstRegister").style.display = "none";
            }
        }
        //本函数实现鼠标经过注册和登录图标时的特效
        function mouseTuBiaoEffect() {
            $("#backimg").mouseenter(function () {
                $("#backimg").attr("src", "../Images/people-login-back_2.png");
            });
            $("#backimg").mouseout(function () {
                $("#backimg").attr("src", "../Images/people-login-back_1.png");
            });
            $("#nextimg").mouseenter(function () {
                $("#nextimg").attr("src", "../Images/people-register-next_2.png");
            });
            $("#nextimg").mouseout(function () {
                $("#nextimg").attr("src", "../Images/people-register-next_1.png");
            });
        }
        //本函数实现利用ajax动态查看数据库里是否存在该用户，不存在时要做提示
        function check_name() {  
            if ($("#username").val() != "") {
                $.ajax({
                url: "ajaxUserName",
                data:{userName:$("#username").val()},
                type: "post",
                success: function (isExistUser) {
                    if (isExistUser == 0)//不存在
                    {
                      document.getElementById("error_name").style.display = "block";//显示账号错误提示 
                      document.getElementById("password").disabled = true;//禁止输入
                    }
                }
              });
           }
        };
        //本函数实现利用ajax动态查看数据库里该用户的密码是否正确，不存在做提示
        function check_pwd() {
            
            if ($("#username").val() == "") {
                $("#error_name").text("请输入用户名");
                $("#error_name").css("display", "block");
                return false;
            }
            if ($("#password").val() == "")
            {
                $("#error_pwd").text("请输入密码");
                $("#error_pwd").css("display", "block");
                return false;
            }
            if ($("#password").val() != "" && $("#username").val()!="")
            {
                $.ajax({
                    url: "ajaxMakeLogin",
                    data: { userName: $("#username").val(), password: $("#password").val() },
                    type: "post",
                    success: function (passwordCorrect) {
                        if (passwordCorrect == "1") {
                            window.location.href = "../Topic/Home";
                        }
                        else {
                            if (passwordCorrect == "0") {
                                $("#error_pwd").text("请输入正确的密码");
                                $("#error_pwd").css("display", "block");//显示密码错误提示 
                            }
                            else {
                                if (passwordCorrect == "2") {
                                    $("#error_pwd").text("数据库出错");
                                    $("#error_pwd").css("display", "block");//显示数据库出错提示 
                                }
                            
                            }
                            
                        }
                    }
                });
            }
        };
        //本函数实现隐藏错误提示信息，允许输入，主要是在鼠标点击输出账号框和密码框时触发
        function hide_error() {
            document.getElementById("error_pwd").style.display = "none";//隐藏密码错误提示 
            document.getElementById("error_name").style.display = "none";//隐藏账号错误提示 
            document.getElementById("password").disabled = false;//允许输入
        }
    </script>
</head>
<body>
   
        <div id="content">
            <div id="back"  >
                <a href="~/People/Register" style="text-decoration:none;">
                    <img style=" vertical-align: middle;" src="../Images/people-login-back_1.png" id="backimg" />
                </a>
                注册
            </div>
            <div id="visitor">
                游客
                <a href="../Topic/Home" style="text-decoration:none;">
                    <img style=" vertical-align: middle;" src="../Images/people-register-next_1.png" id="nextimg" />
                </a>
            </div>
            <div id="firstRegister" style="width:50%;text-align:left;margin-left:220px;">
                <div style="display:inline-block;"><img style="width:30px;height:30px; " src="~/Images/people-right.png" /></div>
                <div style="display:inline-block;font-size:30px;">注册成功请开始登录</div>
                </div>
            <div id="error_name" class="error">
                <img style="width:24px;height:24px;" src="~/Images/people-wrong.png" />
                请检查用户名是否正确
            </div>
            <div id="error_pwd" class="error">
                <img style="width:24px;height:24px;" src="~/Images/people-wrong.png" />
                请输入正确的密码
            </div>
                <div id="login" style="">
                    <input type="text" id="username" name="username" class="ui-input" placeholder="用户名" onfocus="hide_error()" onblur="check_name()" /><br />
                    <input type="password" id="password" name="password" placeholder="密码" class="ui-input" onfocus="hide_error()"  /><br />
                    <div style="margin-top:20px;font-weight:bold;color:white;">
                        <label><input type="radio" name="identity" />用户</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" name="identity" />专家</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <input type="button" id="login" name="login" value="登录" class="ui-button "style="margin-top:15px;" onclick="check_pwd()" />
                </div>
        </div>
    
</body>
</html>
