@{
    ViewBag.Title = "ExpertAnswer";
}
       <!--假如这是静态页面,这里面的内容有待删除，因为我已经实现了通过请求静态html渲染到此页面了================-->
<p>
    <span style="font-size:16px;"> &nbsp; &nbsp; &nbsp; 哈</span><span style="font-size:14px;"><span style="font-size:16px;"></span><span style="font-size:16px;"></span></span><span style="font-size:16px;font-family:SimSun;">哈，问题很详细，首先参加毕业照，我建议您</span><span style="color:#333333;font-family:SimSun;font-size:16px;line-height:24px;background-color:#FFFFFF;">穿休闲雅气的衣服。首先我推荐下面比较学院风的裙子，所以黑色很好看(*^__^*) 嘻嘻……</span>
</p>
<br />

<p style="text-align:center;width:80%;margin-left:10%;"><img src="~/Images/ConsultDetails-tu1.png" style="width:100%;" /></p>
<br />
<p>
    <span style="color:#333333;font-family:SimSun;font-size:16px;line-height:24px;background-color:#FFFFFF;"><span><span style="font-size:16px;line-height:24px;background-color:#FFFFFF;">&nbsp; 搭配学院风长裙，</span></span><span style="font-family:SimSun;font-size:16px;color:#3C3C3C;line-height:24px;background-color:#FFFFFF;">韩版厚底松糕休闲鞋网状套脚洞洞运动鞋内增高女鞋是再适合不过了，一整套搭起来是不是各种小学妹的感觉O(∩_∩)O哈哈~</span></span>
</p>
<br />
<p style="text-align:center;width:80%;margin-left:10%;">
    <img src="~/Images/ConsultDetails-tu3.png" style="width:100%;" />
</p>
<br />
<p>
<p>
    <span><span style="font-size:16px;line-height:24px;background-color:#FFFFFF;">&nbsp; &nbsp; &nbsp;或者</span></span><span style="font-family:SimSun;font-size:16px;color:#3C3C3C;line-height:24px;background-color:#FFFFFF;">2016夏新款方领公主裙韩版A字裙显瘦高腰3D印花连衣裙</span><span><span style="font-size:16px;line-height:24px;background-color:#FFFFFF;"><span style="font-family:SimSun;font-size:16px;">这种小洋裙也行，显气质，易搭配。名媛首选，保你在人群中仙气十足，脱颖而出~</span></span></span>
</p>
<br />
<p style="text-align:center;width:80%;margin-left:10%;">
    <img src="~/Images/ConsultDetails-tu2.png" style="width:100%;" />
</p>
<br />
<p>
    <span><span style="font-size:16px;line-height:24px;background-color:#FFFFFF;"><span style="font-family:SimSun;font-size:16px;">&nbsp; 名媛款公主裙最好配了，只要找比较淑女款的单鞋就可以穿了，我建议是女孩子穿裙子需要配下下有点跟的鞋子，那样能让你更加自信优雅。</span></span></span>
</p>
<br />
<p style="text-align:center;width:80%;margin-left:10%;">
    <img src="~/Images/ConsultDetails-tu4.png" style="width:100%;" />
</p>
<br />
<p>
    <br />
</p>
<p>
    <span style="font-family:SimSun;font-size:16px;color:#3C3C3C;line-height:1.5;background-color:#FFFFFF;">&nbsp; 名媛夏装新款女装雪纺荷叶袖上衣+阔腿短裤两件套时尚套装是今年亮眼搭配，<span style="color:#3C3C3C;font-family:SimSun;font-size:16px;line-height:24px;background-color:#FFFFFF;">雪纺荷叶袖上衣<span style="color:#3C3C3C;font-family:SimSun;font-size:16px;line-height:24px;background-color:#FFFFFF;">+阔腿短裤</span>不挑身材穿</span>，不管胖瘦都能穿。穿上气质十足。</span>
</p>
<br />
<p style="text-align:center;width:80%;margin-left:10%;">
    <img src="~/Images/ConsultDetails-tu6.png" style="width:100%;" />
</p>
<br />
<p>
    <span><span style="font-size:16px;line-height:24px;background-color:#FFFFFF;"><span style="font-family:SimSun;font-size:16px;">&nbsp; 不用说，这款衣服肯定是最好搭的，不管是淑女风的单鞋，还是白领气质的PU鞋，还是高跟鞋，都能百搭，简单一点的运动鞋或者板鞋也是可以的，因为是拍毕业照，比较正式还有可能要走比较多路，所以我还是建议有一点点跟的气质单鞋啦啦啦哈哈~</span></span></span>
</p>
<br />
<p style="text-align:center;width:80%;margin-left:10%;">
    <img src="~/Images/ConsultDetails-tu5.png" style="width:100%;" />
</p>
<br />