@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <title>Index</title>
    <script>
        var a = 2;
        $(document).ready(function () {
            
        });
    </script>
    <script>
        $(document).ready(function () {
            alert(a);
        });
        
    </script>
</head>
<body>
    
</body>
</html>
