@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="~/Test/Index2" method="post" >
        <div>
            <input type="file" id="file1" name=" file1" />
            <input type="text" id="aa" name="aa" value="sssss"/>
        </div>
        <input type="submit"  value="上传图片"/>
    </form>
</body>
</html>
