@{
    ViewBag.Title = "ExpertReply";
    Layout = "~/Views/Shared/Top_menu.cshtml";
}
<style>
    .answersData {
        float: left;
        margin-top: 10px;
    }

    .zan {
        color: #a9b7b7;
        float: left;
        margin-bottom: 10px;
    }

        .zan a {
            color: #a9b7b7;
            text-decoration: none;
        }

            .zan a:hover {
                text-decoration: underline;
            }

    .keyword {
        background-color: white;
        float: left;
        height: auto;
        width: auto;
        padding: 2px 8px;
        margin-right: 30px;
        border-radius: 5px;
        cursor: pointer;
    }

        .keyword:hover {
            background-color: #b3dfe5;
            color: white;
        }

    .question_details {
        margin: 10px 0;
        background-color: white;
        border: none;
        font-size: 1em;
    }

        .answersData img, .question_details img {
            width: 100%;
            padding: 0 8%;
            margin: 10px 0;
        }


    .communication {
        float: left;
        font-size: 13px;
        margin-right: 10px;
    }

    .LeftBackground {
        background-color: white;
        padding: 25px 25px 180px 25px;
        float: left;
        width: 100%;
    }

    .guanzhuzheTX img {
        width: 25px;
        margin: 5px;
    }

    .guanzhuzheTX a :hover {
        border: 1px solid gray;
    }
</style>

<div class="row" style="background-color: #f6f6f6;height:auto;font-size:1.7em;padding-left:5%;padding-bottom:240px;">
    <div class="col-md-9 col-md-offset-1">
        <div id="Keyword_div" class="col-md-12" style="margin: 15px 0;">
            <div class="keyword">冬季搭配</div>
            <div class="keyword">时尚</div>
            <div class="keyword">显瘦</div>
            <div class="keyword">最流行</div>
            <div class="keyword">女生</div>
        </div><!-- <div id="Keyword_div">-!end-->
        <div id="Path" class="col-md-12" style="margin-top:15px;">
            <a href="">Topic</a>>
            <a href="">Answer</a>>
            <a href="">PostDetail</a>
        </div><!-- <div id="Path">-!end-->
        <div id="Left_main" class="col-md-8" style="padding-left:12px;float:left;">
            <div class="LeftBackground">
                <div id="Question">
                    <h4>求一套参加同学毕业典礼的衣服！</h4>
                <div>场合：毕业典礼</div>
                <div>过两天要参加同学的毕业典礼，想要搭配一套适合和同学拍毕业照的衣服。想要看起来有气质，但是不要和毕业生混淆的衣服但是也不要太突兀！！不喜欢日韩风，觉得有点大众化。喜欢欧美风霸气。但是还是专家看着配吧，希望鞋子也顺带帮我配好，怕到时候没鞋子穿。我的脚比较挑鞋子，脚有点胖，脚背高，脚长是XXcm,脚宽XXcm,希望能显脚小。</div>

                <h4>个人全身照</h4>
                <div style="width:80%;"><img src="~/Images/UserImages/QuanShenZhao/20140203_112158.jpg" style="width:100%;" /></div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                    <div>身高：233cm</div>
                <div>喜欢的风格：</div>
                    <div style="width:80%;"><img src="~/Images/UserImages/QuanShenZhao/20140203_112158.jpg" style="width:100%;" /></div>
                    <div>讨厌的风格：</div>
                    <div style="width:80%;"><img src="~/Images/UserImages/QuanShenZhao/20140203_112158.jpg" style="width:100%;" /></div>



                    <div style="border-top: 1px solid #686868; float: left; width: 100%; "></div><!--分割线-->
                    

                </div><!-- <div id="Question">-!end-->
                <div id="theAnswerDiv">
                    <div><h3>专家回答</h3></div>
                    <div id="theAnswer"></div><!--存放专家回答静态页面的地方-->
                </div>
            <div>评论·感谢·追问</div>







            </div><!--<div class="LeftBackground">-!end-->


        </div><!-- <div id="Left_main">-!end-->
        <div id="Right_main" class="col-md-4 visible-lg visible-md" style="background-color: white; padding: 25px 25px 180px 25px; float: left;">
            <div style="width:100%;">
                <button class="btn btn-default">关注问题</button>
                <button class="btn btn-default">设置</button>
            </div>
            <div style="margin:15px 0;color:gray;font-size:0.9em;">
                <a href="">234</a>人关注该问题
            </div>
            <div class="guanzhuzheTX">
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
            </div>
            <div style="border-top: 1px solid #686868; float: left; width: 100%; margin:15px 0;"></div><!--分割线-->
            <div>
                <b>问题状态</b>
            </div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="border-top: 1px solid #686868; float: left; width: 100%; margin: 15px 0;"></div><!--分割线-->

            <div style="margin-top:15px;">
                <b>问题状态</b>
            </div>

            <div style="margin-top:15px;">
                <div style="color: gray; font-size: 12px;">
                    最近活动于 昨天 17:26 • <a href=" ">
                        查看问题日志
                    </a>
                    被浏览 24179 次，相关话题关注者 2143816 人
                </div>

            </div>



        </div><!-- <div id="Right_main">-!end-->

    </div>
</div><!--<div class="row">!-end-->
