@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.0.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {        
        if ($("#loginYes").val() == "1") {
            $("#MySetting").css("display","");
        }
        else {
            $("#MySetting").css("display", "none");
        }
        $.ajax({
            url: "AjaxHomeGetData",
            type: "post",
            success: function (data) {
                alert(data);
                var data1 = JSON.parse(data);
                alert(data1[1]["name3"]);

                //var jsonData1 = eval("("+data+")");
                //alert(jsonData1.name);
                //var jsonData2 = new Function("return" + data)();
                //alert(jsonData2.name);

                
                
                

                //var value1 = { "name":1};
                //var obj1 = eval(value1);
                //alert(obj1.name);
                
                
                

                
            }
        });
    });
</script>


  <div id="TheContent">
      <div id="TheContentLeft" style="display:inline-block; width: 60%;  margin-left: 8%;">
          <div id="TheContentLeft-head" style="height:30px;width:100%;margin-top:20px;">
              <div style="margin-left:8px;">
                  <div style="float:left;">
                      <img style="width:20px" src="~/Images/Topic-Home-theNewState.png" />
                  </div>
                  <div style="width:100px;float:left;">
                      最新动态
                  </div>
                  
                  <div style="float:right;margin-right:10px;font-size:18px;">
                      设置
                  </div>
                  <div style="float:right;">
                      <img style="width:22px" src="~/Images/Topic-Home-setting.png" />
                  </div>
              </div>
          </div>
          <div>
              <hr style="border:none;border-top:1px solid #d4cbcb" />
          </div>
          @for (int i = 0; i < 50; i++)
          { 
           <div style="margin-left:8px;height:170px;padding-top:10px;" >
               <div style="height:100%;width:40px;display:inline-block;" >
                   <div>
                       <img style="width:40px;height:40px;" src="~/Images/Topic-Home-1.jpg" />
                   </div>
                   <div style="background-color:#93cbf3;width:38px;text-align:center;margin:auto; margin-top:5px;">
                       500
                   </div>
               </div>
               <div style="width:570px;height:100%;display:inline-block;vertical-align:top;" >
                   <div style="color:#808080;margin-left:1px;font-size:13px;display:inline-block;">
                       来自
                   </div>
                   <div style=" color: #808080; margin-left: 3px; font-size: 13px;display:inline-block;">
                       饰品
                   </div>
                   
                  
                   <div style="color:#0d1aa4;margin-left:1px;font-size:15px;font-weight:bold">
                       <a href="answer" target="_blank" style="text-decoration: none; color: #0d1aa4;" onmousemove="this.style.textDecoration = 'underline';" onmouseout="    this.style.textDecoration = 'none';">应该如何佩戴首饰？</a>
                       
                   </div>
                   <div style="color:#5410b6;font-size:14px;font-weight:bold;font-family:Calibri;">
                       simple，在旅程中，谁都可以蜕变
                   </div>
                   <div style="margin-top:5px;">
                       <div style="float:left;">
                           <img style="width:150px;" src="~/Images/Topic-Home-2.jpg" />
                       </div>
                       <div style="float:left;width:70%;margin-left:8px;">
                           <div style="font-size: 14px; color: #aa9e9e; float: left; ">
                               应该说，戴什么样的首饰是消费者个人的事情，并无什么框框可言，只要自己喜欢就行，即所谓“萝卜白菜，各有所爱”。但作为社会中的一员，一些大多数人普遍接受的原则还是应该了解。一般说来，首饰佩戴的基本原则，就是要达...
                           </div>
                       </div>
                   </div>
                   <div style="color: #808080;height:30px;float:left;font-size:14px;margin-top:5px;">
                       <div style="float:left;">
                           +关注问题
                       </div>
                       <div style="float:left;margin-left:10px; ">
                           <img style="width:15px;" src="~/Images/Topic-Home-comment.png" />
                       </div>
                       <div style="float:left;">
                           20条评论
                       </div>

                   </div>
               </div>
            </div>
          <hr style="border:none;border-top:1px solid #dee1e0" />        
          }
      
      
       



      </div>
    <div style="display:inline-block;vertical-align:top; width: 20%;  margin-left:50px;" id="TheContentRight">

        <div style="height:100px;margin-top:70px;color:#808080;">
            <div id="ask" class="" style="margin-bottom:20px;margin-left:10px;">
                <input type="button" style="height:33px;border-radius:5px;padding-left:10px;font-size:20px;text-align:center;color:#1586a3;" value="提问" />
            </div>
            <div title="可点击进行时尚资讯" style="height:33px;width:140px;margin-left:10px;margin-top:0px;box-shadow:1px 1px 3px #aa9e9e;border-radius:5px 5px;text-align:center;padding-top:6px;background-color:#d4cbcb;margin-bottom:25px;">
                <a href="" style="text-decoration:none;font-size:16px;" >特点咨询</a>
                
            </div>
            <div id="MySetting">
                <hr style="border: none; border-top: 1px solid #f8cfcf; height: 0px;" />
                <div style="height:20px;margin-bottom:5px;">
                    <div style="float:left;">
                        <img style="width:18px;" src="~/Images/Topic-Home-caoGao.png" />
                    </div>
                    <div style="float:left;margin-left:3px;">
                        我的草稿
                    </div>
                </div>
                <div style="height: 20px; margin-bottom: 5px;">
                    <div style="float:left;">
                        <img style="width:18px;" src="~/Images/Topic-Home-souCang.png" />
                    </div>
                    <div style="float: left; margin-left: 3px;">
                        我的收藏
                    </div>
                </div>
                <div style="height: 20px; margin-bottom: 5px;">
                    <div style="float:left;">
                        <img style="width:18px;" src="~/Images/Topic-Home-guanZhu.png" />
                    </div>
                    <div style="float: left; margin-left: 3px;">
                        我关注的问题
                    </div>
                </div>
                <hr style="border: none; border-top: 1px solid #f8cfcf;">
            </div>
        </div>
    </div>
</div>

