@{
    ViewBag.Title = "Index";
}

    <form method="post" action="Index2">
        <div>
            <input type="text" placeholder="你好" name="a" style="background-color: #f5f2f2;" />
            <input type="submit" value="提交" />
        </div>
    </form>s
   