@{
    ViewBag.Title = "LoginRemind";
    Layout = "~/Views/Shared/Header.cshtml";
}

<div style="margin-left:200px;font-size:30px;float:left;margin-top:100px;">
    <a href="/People/Login">请先登录</a>
</div>
<div style="height:470px;">

</div>

