@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
<script src="~/kindeditor/kindeditor-all-min.js"></script>
<script src="~/kindeditor/lang/zh-CN.js"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var editor;
        KindEditor.ready(function (K) {
                editor = K.create('#theEditor', {
                themeType: 'default',
                width: 700,
                height: 200,
                langType: 'zh-CN',
                uploadJson: '../../kindeditor/asp.net/upload_json.ashx',
                //items: [
                //    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                //    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                //    'insertunorderedlist', '|', 'emoticons', 'image', 'flash', 'media', 'link']
                });
        });
        //submitBtn  postDataForm postDataForm
        $("#submitBtn").click(function () {
            editor.sync();
            var theContent = editor.text();
            $("#content200").val(theContent);
            $("#postDataForm").submit();
        });
        
    });
</script>

    <style>
     

        #left {
            float: left;
            padding-top: 30px;
            width: 55%;
            height: 450px;
            /*width: 570px;*/
            border-radius: 8px;
            
            background-color: rgba(255, 255, 255, 0.8);
            
        }

        #title {
            width: 500px;
            height: 40px;
            background-color: #0094ff;
            border-radius: 4px;
            margin-left: 25px;
        }

        #title_word {
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            padding-left: 15px;
            padding-top: 8px;
        }

        #form {
            padding-left: 30px;
        }

        #form_one {
            padding: 15px 0px 5px 0px;
        }

        #user_search {
            width: 470px;
            height: 30px;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid #9D9D9D;
            padding-left: 10px;
        }

       

        .content {
            height: 70px;
            visibility: hidden;
        }

        p.p1 {
            float: left;
        }

        p.p2 {
            float: right;
            color: #ADADAD;
            padding-right: 30px;
        }

        #huati {
            width: 500px;
            height: 30px;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid #9D9D9D;
            padding-left: 5px;
        }

        #niming {
            padding-top: 10px;
        }

        #tijiao {
            float: right;
            margin-right: 25px;
        }

        .submit {
            height: 35px;
            width: 50px;
            border-radius: 4px;
            color: #ffffff;
            font-size: 10px;
            font-weight: bold;
        }

        /*#fenge {
            padding: 0px 10px 0px 10px;
            float: left;
        }

        #fengexian {
            background-color: #5B5B5B;
            width: 2px;
            height: 475px;
        }*/

        .Answer {
            display: none;
            width: 350px;
            height: 450px;
            float: left;
            padding-top: 30px;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .question {
            padding-left: 45px;
            color: #3C3C3C;
            text-decoration: none;
        }

        .xian {
            height: 1px;
            width: 260px;
            border: none;
            border-top: 1px solid #D0D0D0;
        }

        .xiangguan {
            padding: 10px 0px 0px 100px;
            color: #808080;
        }
    </style>
    <script type="text/javascript">
        //提交和清除键颜色的切换
        $(document).ready(function () {
            $("input#qingchu").mouseover(function () {
                $("input#qingchu").css("background-color", "#0094ff");
                $("input#submit").css("background-color", "#7dcaf6");
            })
            $("input#qingchu").mouseout(function () {
                $("input#qingchu").css("background-color", "#7dcaf6")
                $("input#submit").css("background-color", "#0094ff");
            })
        })
    </script>


    <script type="text/javascript">

        function answer(x) {//右边切换模块
            var y = document.getElementById(x).value;
            if (y.length == 0) {
                document.getElementById("hair").style.display = "none";
                document.getElementById("wu").style.display = "none";
                document.getElementById("zhu").style.display = "block";
            }
            else if (y == "发型") {
                document.getElementById("hair").style.display = "block";
                document.getElementById("wu").style.display = "none";
                document.getElementById("zhu").style.display = "none";
            }
            else {
                document.getElementById("wu").style.display = "block";
                document.getElementById("hair").style.display = "none";
                document.getElementById("zhu").style.display = "none";
            }
        }




        function del() {                        //提交按钮
            if (confirm("确实要提交吗？"))
                alert("已经提交！")
            else
                alert("已经取消了提交操作");
        }
    </script>



    <div id="left" style="margin-left:300px;">
        <div id="title">
            <div id="title_word">
                我想咨询
            </div>
        </div>
        <form action="postData" method="post" id="postDataForm">
            <div id="form">
                <div id="form_one">
                    <input type="text" placeholder="写下你的问题" id="user_search" name="question" class="question" onchange="answer(this.id)" oninput="answer(this.id)" />
                </div>
                <div>
                    <div style=" display:inline-block;"><p>问题说明（可选）：</p></div>
                </div>
                <div>
                    <textarea id="theEditor" name="content" placeholder="问题背景、条件等详细信息"></textarea>
                </div>

                <div>
                    <p class="p1">选择话题：</p>
                    <p class="p2">话题越精准，越容易让相关领域专业人士看到你的问题</p>
                </div>
                <!--
                复选框风格

                 <div style="float:left; width:100%; padding:0px 0px 5px 80px;">
                    <div style="float:left ;width:60px;">
                        <input type="checkbox"/>流行
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />男生
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />女生
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />风格
                    </div>
                </div>
                <div style="float:left; width:100%; padding:0px 0px 20px 80px;">
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />首饰
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />时装
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />街拍
                    </div>
                    <div style="float:left ;width:60px;">
                        <input type="checkbox" />技巧
                    </div>
                </div>
                -->
                <!-- 下拉列表风格-->
                <div style="float:left; width:100%; padding:0px 0px 15px 0px;">
                    <select name="theme" style="width: 480px; height: 30px; border-radius: 4px;">
                        <option value="发型">发型</option>
                        <option value="饰品">饰品</option>
                        <option value="女装">女装</option>
                        <option value="男装">男装</option>
                        <option value="鞋帽">鞋帽</option>
                        <option value="箱包">箱包</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <br />
                <div id="niming" style="float:left;">
                    <input type="checkbox" />匿名
                </div>
                <div id="tijiao">
                    <input id="qingchu" class="submit" type="reset" value="清除" style="border: 1px solid #7dcaf6; background-color: #7dcaf6; " />

                    <input type="button" id="submitBtn" value="提交" style="border: 1px solid #0094ff;
            background-color: #0094ff;" class="submit" />

                </div>
            </div>
            <div style="height:300px;">
                <input type="text" id="content200" name="content200"  style="display:none;"/>
            </div>
        </form>
    </div>
    @*<div style=" float:left ;">
        <div id="fenge">
            <div id="fengexian"></div>
        </div>

        <div id="hair" class="Answer">
            <div class="xiangguan">
                您的问题可能已经有答案
            </div>
            <hr class="xian" />
            <a href="http://www.yoka.com/dna/195/997/index.html" class="question">发型很重要么？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">跪求发型。？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">关于发型？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">男士发型？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">跛co发型？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">跪求发型？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">求发型简单好打理的发型推荐？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">最近发型被各种人吐槽，求换发型？</a>
            <hr class="xian" />
            <a href=" http://www.yoka.com/dna/195/997/index.html" class="question">脸大适合什么发型？</a>
            <hr class="xian" />
        </div>

        <div id="wu" class="Answer">
            <div class="xiangguan">
                目前还没有相似的问题
            </div>
            <hr class="xian" />
        </div>

        <div id="zhu" class="Answer" style="display:block;">
            <p class="question">时尚达人网欢迎您的提问。</p>
            <p class="question">若您的问题已曾被提出，</p>
            <p class="question">请不要发布，以免造成信息重复。</p>
            <p class="question">您的支持是我们最大的动力！</p>
            <p class="question">时尚达人将尽快为您解答。</p>
        </div>

    </div>*@
