@{
    ViewBag.Title = "Test";
    Layout = null;
}

<h2>Test</h2>
<form action="~/Topic/Test2" method="post" enctype="multipart/form-data" >
    <input type="file" name="file1" multiple="multiple" />
    <input type="text"  name="tt"/>
    <input type="submit"  value="提交"/>
</form>
