@{
    ViewBag.Title = "PictureShowIndex";
    Layout = "~/Views/Shared/Header.cshtml";
}
    <style>
    html div a p {
        width: 300px;
        height: 300px;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }

        body {
            background: url(../Images/PersonShowImg/PictureShowIndex/7a03b37756d1d8b21864db2fcb882f4c.png);
            background-size: 100%;
        }

   
     .container .clearfix {
        display: block;
        margin-left: 80px;
    }

    .top h3 {
        text-align: center;
        font: 30px blod;
        padding: 15px auto;
    }

    .container li {
        list-style: none;
        float: left;
        margin-left: 15px;
        padding-top: 15px;
    }

        .container li a img {
            width: 250px;
            height: 250px;
            border: 0px;
            margin: 0px;
            padding: 0px;
        }


    .imga1 h1 {
        font: 20px bold;
        text-align: center;
        color: #fff;
        margin-top: 100px;
    }

    .imga1 h2 {
        font: 20px bold;
        text-align: center;
        color: #fff;
    }

    .container .clearfix li a #box1 {
        width: 250px;
        height: 250px;
        position: relative;
    }

    .imga1 {
        width: 250px;
        height: 250px;
        top: 0;
        left: 0;
        position: absolute;
        background: #000;
        opacity: 0;
        filter(alpha=0);
    }

        .imga1:hover {
            opacity: 0.5;
            filter(alpha=50);
        }
</style>




    


    <div class="container">
        <div style="margin-top:100px;">
            <ul class="clearfix">
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/3832d540056012cfb3da660c56a22d0a.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/2345看图王Softmmexport1463657152086.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家酷拽酷拽的照片</h1>
                                    <h2>大写的帅</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/QQ图片20141229184258.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的复古英伦风照片</h1>
                                    <h2>大写的美</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/20160512005017vswhxdfudcf32897.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/QQ截图20151215190745.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/QQ图片20141229184258.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/20160512005017vswhxdfudcf32897.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="PicturePlay">
                        <div id="box1">
                            <img src="../Images/PersonShowImg/PictureShowIndex/QQ图片20141229184258.jpg" alt="楼主家的清新风格照片" />
                            <div id="pot" onmouseover="show()" onmouseout="hide()">
                                <div class="imga1">
                                    <h1>楼主家的清新风格照片</h1>
                                    <h2>大写的暖</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>





