@{
    ViewBag.Title = "VideoShowIndex";
    Layout = "~/Views/Shared/Header.cshtml";
}
<script src="~/Scripts/PersonShowJs/jquery.SuperSlide.js"></script>
<link href="~/Content/PersonShowCss/VideoShowIndex.css" rel="stylesheet" />
    <script type="text/javascript">
        document.oncontextmenu = function () { return false }
    </script>
    <div class="foucebox" style="margin-top:0px;">
        <div style="height:4px;"></div>
        <div style="margin-top:120px;">
            <div class="bd" style="position: relative; width: 720px; height: 400px;box-shadow:#808080  5px -8px 4px;">
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/1.jpg" />
                    </a>
                    <div class="foucebox_bg"></div><div>
                        <h2 style="bottom: 60px;">
                            <a target="_blank" href="VideoPlay">衬衫搭配</a>
                        </h2>
                        <p style="bottom: 10px;">
                            五彩斑斓的季节，可供挑选的颜色也是缤纷多彩，唯有冰清玉洁的白色最适合带你踏上凉爽干净的旅程，
                            无论艳阳毒辣到何种程度，它总是像一阵清风缓缓吹进你的心里，拂过你的面庞，让你倍感惬意清爽，盛夏来临之际，快准备一些白色上衣吧！
                        </p>

                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay2">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/2.jpg">
                    </a>
                    <div class="foucebox_bg"></div><div>
                        <h2 style="bottom: 60px;">
                            <a target="_blank" href="VideoPlay2">微微露出小蛮腰，演绎性感与时髦</a>
                        </h2><p style="bottom: 10px;">
                            热情如火的夏季，“露”逐渐成为穿衣打扮的主题之一。露哪里？怎么露？
                            如何露得时髦有格调？是很多爱美女人正在思考的问题。其实，这些问题并不难，微微露出小蛮腰，演绎性感与时髦，So Easy！。
                        </p>
                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px;">
                    <a target="_blank" href="VideoPlay3">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/3.jpg">
                    </a>
                    <div class="foucebox_bg"></div>
                    <div>
                        <h2 style="bottom: 60px;">
                            <a target="_blank" href="VideoPlay3">
                                怎样穿才能在约会时提升造型感？
                            </a>
                        </h2>
                        <p style="bottom: 10px;">
                            怎样穿才能在提升造型感的同时，还能博得异性的好感呢
                        </p>

                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay4">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/4.jpg">
                    </a>
                    <div class="foucebox_bg"></div>
                    <div>
                        <h2>
                            <a target="_blank" href="VideoPlay4">
                                瘦和高，得靠自己去制造
                            </a>
                        </h2>
                        <p>
                            避免穿过于紧身的衣服，在没有材质和色彩做支撑的前提下，合体的衣服会显胖，会让你和瘦和高没什么缘分。
                            那不如选择宽松的有垂感的衣服，比如今年很流行的阔腿裤，只需要简单搭配就能让人耳目一新
                        </p>

                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay5">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/5.jpg">
                    </a>
                    <div class="foucebox_bg"></div>
                    <div>
                        <h2>
                            <a target="_blank" href="VideoPlay5">
                                作为女人，你得明白小黑裙的好
                            </a>
                        </h2>
                        <p>小黑裙的好，可以显瘦可以妖娆可以清纯，百变的姿态成就身为基本款的无限魅力。 </p>

                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay6">
                        <div class="foucebox_bg"></div>
                        <div>
                            <h2>
                                <a target="_blank" href="VideoPlay6">
                                    精妙绝伦一抹红 少女也能彰显女人味
                                </a>
                            </h2>
                            <p>
                                虽是评价为妖艳的红色，也不太适合粗暴的打开方式，缓和得似一扇若隐若现的门帘，先用淡淡的格子红进行试探，
                                风吹过扬起的似乎还是浓浓的少女气息，却依旧多了一丝柔情。
                            </p>

                        </div>
</div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay7">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/7.jpg">
                    </a>
                    <div class="foucebox_bg"></div>
                    <div>
                        <h2>
                            <a target="_blank" href="VideoPlay7">
                                让皮肤快乐呼吸，看棉麻度夏的资深创意
                            </a>

                        </h2>
                        <p>
                            最不需要创意的创意就是将经典进行到底，沾染衬衫二字，
                            经典就已经花开荼蘼与不问归期，深深地刻录
                            在记忆里不舍得忘记，直到棉麻再遇蓝白调与竖条纹，才心下释然，回头望青春依然浪漫
                        </p>
                    </div>
                </div>
                <div class="showDiv" style="position: absolute; width: 720px; left: 0px; top: 0px; display: none;">
                    <a target="_blank" href="VideoPlay8">
                        <img src="~/Images/PersonShowImg/VideoShowIndexImg/8.jpg">
                    </a>
                    <div class="foucebox_bg"></div>
                    <div>
                        <h2>
                            <a target="_blank" href="VideoPlay8">
                                如何成为人人羡慕的IT Girl？
                            </a>
                        </h2>
                        <p>
                            成为IT Girl不一定要时髦的过分，但一定要有自己的风格，并且会懂得如何包装自己。
                            充满少女元气的蓬蓬短裙一秒就能让土气的妹子变身成为公主，而且有了层
                            层纱裙的衬托，也会让姑娘们立马充满时髦女孩的高级感
                        </p>

                    </div>
                </div>
            </div>
            <div class="hd">
                <ul>
                    <li class=" ">
                        <a target="_blank" href="VideoPlay">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/1.jpg">
                            <span class="txt">衬衫搭配</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>

                    <li class=" ">
                        <a target="_blank" href="VideoPlay2">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/2.jpg">
                            <span class="txt">微微露出小蛮腰，演绎性感与时髦</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>
                    <li class="on">
                        <a target="_blank" href="VideoPlay3">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/3.jpg">
                            <span class="txt">怎样穿才能在约会时提升造型感？</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="VideoPlay4">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/4.jpg">
                            <span class="txt">瘦和高，得靠自己去制造</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="VideoPlay5">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/5.jpg">
                            <span class="txt">作为女人，你得明白小黑裙的好</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="VideoPlay6">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/6.jpg">
                            <span class="txt">精妙绝伦一抹红 少女也能彰显女人味</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="VideoPlay7">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/7.jpg">
                            <span class="txt">让皮肤快乐呼吸，看棉麻度夏的资深创意</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>

                    <li>
                        <a target="_blank" href="VideoPlay8">
                            <img src="~/Images/PersonShowImg/VideoShowIndexImg/8.jpg">
                            <span class="txt">如何成为人人羡慕的IT Girl？</span>
                            <span class="txt_bg"></span>
                            <span class="mask"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(".foucebox").slide({ effect: "fold", autoPlay: true, delayTime: 300, startFun: function (i) { jQuery(".foucebox .showDiv").eq(i).find("h2").css({ display: "none", bottom: 0 }).animate({ opacity: "show", bottom: "60px" }, 300); jQuery(".foucebox .showDiv").eq(i).find("p").css({ display: "none", bottom: 0 }).animate({ opacity: "show", bottom: "10px" }, 300); } });
    </script>
