@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Header.cshtml";
}
<script type="text/javascript">
    //在页面加载时切换导航栏菜单
    window.onload = function () {
        document.getElementById("headerNav1").className = "none";
        document.getElementById("headerNav2").className = "none";
        document.getElementById("headerNav3").className = "none";
        document.getElementById("headerNav4").className = "navli_active";
        document.getElementById("home-nav-topjiao").style.display = "none";
        document.getElementById("secondHeader").style.height = "6px";
        document.getElementById("secondHeader").style.borderBottom = "1px solid black";
    }
</script>
<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<style>
    .clothContainerHeight {
        height: 430px;
    }
    .clothHeight {
        height: 400px;
        
    }
    .clothHeight:hover {
        border: 1px solid #dbc9c9;
    }
</style>
<div class="container" style="width: 100%;padding:0px;float:left;margin-top:-105px;">
    <div style="border: 1px solid #2b2b2b; margin-top: 104px; height: 110px; width: 100%;background-color:#ad4a4a; ">
        <div class="row" style="margin-top:25px;">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6">
                <form class="form-search">
                    <input class="input-medium search-query" type="text" placeholder="输入衣服等商品名" style="width:80%;height:50px;" /> &nbsp;&nbsp;<button type="submit" class="btn alert-danger" style="width: 18%; height:50px;border-radius:15px 15px;">查找</button>
                </form>
            </div>
            <div class="col-xs-3">

            </div>
        </div>
    </div>
    <div style="background-color: #2b2b2b; height: 10px; ">

    </div>
    <hr/>
    <div style="margin-left:100px;margin-right:100px;">
        <div class="row" style="@*border:1px solid blue;*@">
            @for (int i = 1; i < 37; i++)
            {
             
         
                switch (i)
                { 
                    case 1:
                         <div style="font-size:35px;margin-left:30px;text-shadow:1px 1px 1px #363b37;">
                        女生搭配：
                      </div>
                <div style="border-bottom:2px solid #808080;margin-bottom:20px;margin-top:20px;"></div>
            
             <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         上衣
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
            
                        break;
                    case 5:
                              <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         裙子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                     case 9:
                       <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         裤子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                      case 13:
                          <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         鞋子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                    case 21:<div style="font-size:35px;margin-left:30px;text-shadow:1px 1px 1px #363b37;">
                                     男生搭配：
                               </div>
                               <div style="border-bottom:2px solid #808080;margin-bottom:20px;margin-top:20px;"></div>
             <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         上衣
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                              case 25:
                               <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         裤子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                              case 29:
                               <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         鞋子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
                                case 33:
                               <div class="col-xs-12" style="text-align:center;margin-bottom:20px;">
                 <div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
                     <div style="font-size: 24px; margin-top: 0px; font-weight: bolder;">
                         鞋子
                     </div>
                     <div style="border-bottom:2px solid #808080;margin-top:5px;width:160px;box-shadow:#808080 3px 3px 3px;"></div>
                     </div>
                 </div>
                              break;
            
                }
                string imgSrc = "/Images/ShangCheng/"+i+".jpg";
                <div id="clothContaner_@i" class="col-xs-3 clothContainerHeight" onclick="window.location.href='Index'+@i" >
                    <div id="cloth_@i" class="clothHeight" style="text-align:center;padding:10px;">
                        <img src="@imgSrc" style="width:98%;height:300px;" />
                        <div style="text-align:left;color:#eb5f5f;margin-top:5px;font-size:20px;font-weight:bold;">
                            ￥65.80
                        </div>
                        <div style="text-align:left;margin-top:1px;font-size:15px;font-weight:bold;margin-left:2px;">
                            购买：<input type="checkbox"  checked="checked"/>&nbsp;
                            租恁：<input type="checkbox" checked="checked" />
                        </div>
                    </div>
                   
                </div>
            }
        </div>
    </div>
    
    <div style="height:20px;">

    </div>
</div>


