
<link href="~/Content/footer.css" rel="stylesheet" />
 <!--关于-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 foot">
    <span>
        <a rel="nofollow" href="#" target="_blank">开发者：惠州学院SimplePower团队</a>
    </span>
    <span>
        <a rel="nofollow" href="#" target="_blank">关于我们</a>|
        <a rel="nofollow" href="#" target="_blank">免责声明</a>|
        <a rel="nofollow" href="#" target="_blank">广告服务</a>|
        <a rel="nofollow" href="#" target="_blank">联系我们</a>|
        <a rel="nofollow" href="#" target="_blank">网站律师</a>|
        <a rel="nofollow" href="#" target="_blank">意见反馈</a>|
        <a rel="nofollow" href="#" target="_blank">参加搭配专家招聘</a>|
        <a rel="nofollow" href="#" target="_blank">友情链接</a>|
        <a rel="nofollow" href="#" target="_blank">网站纠错</a>|
        <a rel="nofollow" href="#" target="_blank">官方微博</a>
    </span>

    <span>不良信息举报电话：000-00000000 举报邮箱：xxxxxxxxx@163.com</span>




</div>