@{
    ViewBag.Title = "MySpecialConsultExpertList";
}

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

<div class="container">
        <div class="row" style="margin-top:25px;margin-left:100px;">
            <div class="col-xs-5" style="border: 1px solid red; height: 300px;padding:0px;">
                <div class="col-xs-12" style="border: 1px solid blue; height: 80px; padding:0px;">
                    <div class="col-xs-2" style="border:1px solid blue;height:80px;">
                        专家一
                    </div>
                    <div class="col-xs-2" style="border:1px solid blue;height:80px;">
                        头像
                    </div>
                    <div class="col-xs-4" style="border: 1px solid blue; height: 80px; padding:0px;">
                        <div class="col-xs-12" style="border:1px solid blue;height:40px;">
                            用户名
                        </div>
                        <div class="col-xs-12"  style="border:1px solid blue;height:40px;">
                            个性签名
                        </div>
                    </div>
                    <div class="col-xs-4" style="border:1px solid blue;height:80px;">
                        点击进入
                    </div>
                </div>
               
                <div class="col-xs-12" style="border: 1px solid blue; height: 160px; padding:0px;">
                    <div class="col-xs-2 " style="border:1px solid blue;height:160px;">
                        搭配套装
                    </div>
                    <div class="col-xs-10 " style="border:1px solid blue;height:160px;padding:0px;">
                        <div class="col-xs-12 " style="border:1px solid blue;height:40px;">
                            搭配套装1
                        </div>
                        <div class="col-xs-12 " style="border:1px solid blue;height:40px;">
                            搭配套装2
                        </div>
                        <div class="col-xs-12 " style="border:1px solid blue;height:40px;">
                            搭配套装3
                        </div>
                        <div class="col-xs-12 " style="border:1px solid blue;height:40px;">
                            搭配套装4
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-4" style="border:1px solid red;height:60px;">
                   选择此套装
                </div>
            </div>
                
            </div>
    
    
    
    

    <div style="height:300px;">

    </div>
</div>