@{
    ViewBag.Title = "MySpecialConsultExpertList";
    Layout = "~/Views/Shared/Header.cshtml";
    @model System.Collections.Generic.List<Fashion.Models.SpecialConsultAnswer_model>
}

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

<div class="container">
    <div style="height:100px;">

    </div>
        <div class="row" style="margin-top:25px;margin-left:100px;text-align:center;">
            @foreach (Fashion.Models.SpecialConsultAnswer_model specialConsultAnswer_model in Model)
            { 
            <div class="col-xs-5" style="border: 1px solid red; height: 300px;padding:0px;margin-left:25px;">
                <div class="col-xs-12" style="border: 1px solid blue; height: 80px; padding:0px;">
                    <div class="col-xs-2" style="border:1px solid blue;height:80px;">
                        @specialConsultAnswer_model.specialAnswerId
                    </div>
                    <div class="col-xs-2" style="border:1px solid blue;height:80px;padding:0px;">
                        <img src="@specialConsultAnswer_model.expert_model.touXiangUrl"  style="width:100%;height:100%;"/>

                        
                    </div>
                    <div class="col-xs-4" style="border: 1px solid blue; height: 80px; padding:0px;">
                        用户名:@specialConsultAnswer_model.expert_model.userName
                    </div>
                    <div class="col-xs-4" style="border:1px solid blue;height:80px;" onclick="window.location.href ='../Consult/ConsultDetails?specialConsultId=@ViewData["specialConsultId"]&expertUserName=@specialConsultAnswer_model.expert_model.userName'">
                        点击进入
                    </div>
                </div>
               
                <div class="col-xs-12" style="border: 1px solid blue; height: 160px; padding:0px;">
                    <div class="col-xs-2 " style="border:1px solid blue;height:160px;">
                        搭配套装
                    </div>
                    <div class="col-xs-10 " style="border:1px solid blue;height:160px;padding:0px;">
                        @foreach(Fashion.Models.SpecialConsultAnswerClothes_model specialConsultAnswerClothes_model in specialConsultAnswer_model.clothList_model)
                        {
                            <div class="col-xs-12 " style="border:1px solid blue;height:40px;">
                                <a href="@specialConsultAnswerClothes_model.clothUrl" target="_blank">@specialConsultAnswerClothes_model.clothType</a>
                        </div>    
                        }
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-4" style="border:1px solid red;height:60px;">
                   选择此套装
                </div>
            </div>
            }
                
            </div>
    
    
    
    

    <div style="height:300px;">

    </div>
</div>