@charset "utf-8";
.container {
	width: 100%;
	font-family: 微软雅黑;
	font-size: 12px;
}
.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}
.action {
	width: 250px;
	height: 30px;
	border: 1px #ddd solid;
    float:left;
}
.cropped {
    float:left;
	top: 0;
	width: 150px;
	border: 1px #ddd solid;
	height: 280px;
    margin-left:10px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	height: 250px;
	width: 250px;
    float:left;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0; 
    margin-bottom:5px;
}
.imageBox .thumbBox {
	width: 150px;
	height: 150px;
	margin:50px 0 0 50px;
    border-radius:200px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 250px;
	background: rgba(0,0,0,0.7);
}
.Btnsty_peyton{ float: right;
   width: 40px;
  display: inline-block;
  margin-bottom: 10px;
  height:30px;
  line-height: 30px;
  font-size: 1.3em;
  color: #FFFFFF;
  margin:0px 2px;
  background-color: #f38e81;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #B0B0B0;
  border: 0px #fff solid;}
/*选择文件上传*/
.new-contentarea {
	width: 100px;
	overflow:hidden;
	margin: 0 auto;
    float:left;
}
.new-contentarea label {
	width:100%;
	height:100%;
	display:block;
}
.new-contentarea input[type=file] {
	width:188px;
	height:60px;
	background:#333;
	margin: 0 auto;
	right:50%;
	margin-right:-94px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;
}
a.upload-img{
	cursor:pointer;
    float:left;
	width:100px;
    font-style:normal;
	display: inline-block;
	margin-bottom: 10px;
	height:30px;
	line-height: 30px;
	font-size: 1.3em;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration:none;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;

}
a.upload-img:hover{
	background-color: #ec7e70;
}

.tc{text-align:center;}
/*www.jq22.com*/